* { margin: 0; padding: 0; box-sizing: border-box; }

#holder {
    position: fixed;
    right: 0;
    bottom: 0;
}
.chat-window {
  font-family:sans-serif;
}
.chat-window.closed {
  width: 300px;
  height: 1.4em;
}
.chat-window.closed form {
  display:none;
}
.chat-window.open {
  width: 300px;
  height: 400px;
}
.chat-window {
  position:relative;
  background: #eafaea;
  border: 1px solid #ccc;
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 20px;
}
.chat-window h3 {
  background: #ace;
  width:100%;
  padding:6px;
}

.chat-window input.message {
  position: absolute;
  bottom:0;
  left:0; right:0;
  width: 100%;
  font-size: 12px;
  padding: 4px;
}

.default { display:none; }

.chat-window .messages {
  margin: 6px;
  overflow:auto;
  max-height: 300px;
}
.chat-window .messages .msg {
  width: 100%;
}
.chat-window .messages .msg div.name {
  display:inline-block;
  width: 50px;
  font-weight:bold;
}
.chat-window .messages .msg div.text {
  display:inline-block;
}

.messages-window {
}
.messages-window .messages {
  margin-bottom: 40px;
  max-height: 600px;
  overflow:auto;
}
.messages-window .messages .msg {
  width: 100%;
}
.messages-window .messages .msg div.name {
  display:inline-block;
  width: 50px;
  font-weight:bold;
}
.messages-window .messages .msg div.text {
  display:inline-block;
}

ul.nav li a.activity {
  font-weight: bold;
}

ul.nav li.warning {
  background:orange;
}
